<h1>This comic book is on sale:</h1>

<div class="container">
  <ul>
    <% @comic_book.attributes.each do |attr| %>
      <li><%= attr %></li>
    <% end %>
  </ul>

  <% if @comic_book.pictures.attached? %>
    <% @comic_book.pictures.each do |picture| %>
      <%= cl_image_tag picture.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% else %>
    <p>No Foto...</p>
  <% end %>
</div>

<!-- Create Button to Buy -->
<div>
<p><%= link_to "Buy Comic Book", purchases_path(comic_book: @comic_book), method: :post %></p>
</div>

<% if @comic_book.user_id == current_user.id %>
  <%= link_to "Edit", edit_comic_book_path(@comic_book) %>
  <%= link_to "Delete #{@comic_book.name}",
              comic_book_path(@comic_book),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
<% end %>
